@using Microsoft.Ajax.Utilities
@using MyMoney.Enum
@model IEnumerable<MyMoney.ViewModels.MoneyTxnViewModel>

@{
    Layout = null;
}

<table class="table" style="table-layout:fixed">
    <tr> 
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.TxnType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        var i = 1;
        string displayName = null;
        foreach (var item in Model)
        {
            <tr  class="@Html.TxnColor(item.TxnType)">
                <td>@(i++)</td>
                <td>
                    @foreach (SelectListItem type in EnumHelper.GetSelectList(typeof(TxnType), item.TxnType))
                    {
                        if (type.Selected)
                        {
                            displayName = type.Text ?? type.Value;
                        }
                    }
                    @Html.DisplayTextFor(model => displayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {collection = "Home", area = "Backend",id = item.Id}) |
                    @Html.ActionLink("Details", "Details") |
                    @Html.ActionLink("Delete", "Delete")
                </td>
            </tr>
        }
    }
</table>